*{
    scroll-behavior: smooth;
    margin: 0;
}
.nav-link {
    font-size: 20px !important;
    color: #ffffff !important;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255, 255, 255, 0) !important;
    transition: all 0.5s;
}

#logoImg {
    margin: 20px 10px;
}

.social-icons a {
    color: #ffffff;
    margin: 10px;
}

.fixed-text {
    position: absolute;
    top: 40% !important;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    z-index: 10; 
    color: #fff;
  }
  
  .fixed-text h1 {
    font-size: 80px !important;
    margin-bottom: 40px !important;
    font-weight: bold;
  }
  
  .fixed-text h3 {
    font-style: italic;
    font-size: 50px !important;
    margin-bottom: 20px !important;
  }
  
  .fixed-text .btn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: #ff0000;
  }
  .fixed-text .btn:hover{
    background-color: red;
    color: #fff;
  }

  
#upArrow {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: rgba(176, 174, 174, 0.7);
    right: 5%;
    bottom: 10%;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
}

.navbarDown {
    background-color: rgba(255, 255, 255, 0.8) !important;
    transition: all 0.5s;
}

#ourStory {
    display: flex;
    align-items: center;
    margin: 100px;
}

.ourStoryImg {
    width: 350px;
    height: 350px;
    margin-left: 170px;
    transition: all 0.3s ease-in-out;
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
}

#ourStory .ourStoryImg:hover {
    background-size: 119%;
}

#ourStory .textStory {
    max-width: 500px;
    text-align: center;
    margin-left: 100px;
}

.textStory h3 {
    color: red;
    font-style: italic;
}

.textStory h1 {
    font-size: 60px;
    font-weight: bold;
}

/****** lable******/

.lable {
    text-align: center;
}

.lable h5 {
    font-size: 2rem;
    color: #a82929;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-style: italic;
    font-weight: light;
}

.lable h1 {
    text-transform: uppercase;
    font-size: 3rem;
    color: #222;
    font-weight: bold;
}

/*******menu image*******/

#ourMenu {
    margin: 30px auto;
    display: grid;
    gap: 20px;
    width: 75%;
    aspect-ratio: 1.6;
}

.p01 {
    grid-area: 1 / 1 / span 2 / span 1;
}

.p02 {
    grid-area: 1 / 2 / span 2 / span 1;
}

.p03 {
    grid-area: 3 / 1 / span 1 / span 2;
}

.p04 {
    grid-area: 1 / 3 / span 1 / span 1;
}

.p05 {
    grid-area: 2 / 3 / span 1 / span 1;
}

.p06 {
    grid-area: 3 / 3 / span 1 / span 1;
}



#ourMenu>div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: 100%;
    background-position: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

#ourMenu>div:hover {
    background-size: 110%;
    transition: all 0.3s ease-in-out;
}

#ourMenu .bt {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 24px;
    font-weight: bold;
    padding: 16px 24px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

#ourMenu .bt:hover {
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
}

#container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
  }
  
  /* تنسيق النموذج */
  .book-table-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 500px;
    height: auto;
    font-family: Arial, sans-serif;
    gap: 50px; 
  }
  
  /* تنسيق رأس النموذج */
  .book-table-form h1 {
    grid-column: span 2;
    font-size: 40px;
   text-align: center;
  }
  
  .book-table-form h3 {
    grid-column: span 2;
    font-size: 20px;
    color: #ff0000;
    margin: 0 0 20px;
    text-align: center;
    font-style: italic;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input,
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  button.book-button {
    grid-column: span 2;
    padding: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button.book-button:hover {
    background-color: #45a049;
  }
  
  /* تنسيق الصورة */
  .form-photo {
    width: 400px;
    height: 400px;
    transition: all 0.3s ease-in-out;
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
  }
  .form-photo:hover{

  background-size: 119%;}
/**** media qyery*****/

@media only screen and (max-width: 768px) {

    #ourMenu {
        margin: 30px auto;
        display: grid;
        gap: 20px;
        width: 95%;
        aspect-ratio: 0.4;
    }

    .p01 {
        grid-area: 1 / 1 / span 2 / span 1;
    }

    .p02 {
        grid-area: 1 / 2 / span 2 / span 1;
    }

    .p03 {
        grid-area: 3 / 1 / span 1 / span 2;
    }

    .p04 {
        grid-area: 4 / 1 / span 2 / span 2;
    }

    .p05 {
        grid-area: 6 / 1 / span 2 / span 2;
    }

    .p06 {
        grid-area: 8 / 1 / span 2 / span 2;
    }
}


@media only screen and (max-width: 576px) {

    .lable h5 {
        font-size: 1rem;
    }

    .lable h1 {
        font-size: 2rem;
    }

    #ourMenu {
        margin: 30px auto;
        display: grid;
        gap: 20px;
        width: 95%;
        aspect-ratio: 0.3;
    }

    .p01 {
        grid-area: 1 / 1 / span 3 / span 1;
    }

    .p02 {
        grid-area: 4 / 1 / span 3 / span 1;
    }

    .p03 {
        grid-area: 7 / 1 / span 1 / span 1;
    }

    .p04 {
        grid-area: 8 / 1 / span 2 / span 1;
    }

    .p05 {
        grid-area: 10 / 1 / span 2 / span 1;
    }

    .p06 {
        grid-area: 12 / 1 / span 2 / span 1;
    }
}

#footer {
    padding: 5%;
    background-color: rgb(34, 34, 34);
    color: rgb(153, 153, 153);
}

#allContacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h2 {
    color: whitesmoke !important;
}

.gallery>.row>.col {
    /* height: 100px; */
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
}

#footer a {
    text-decoration: none;
    color: rgb(236, 29, 37);
}

#footer .gallery .col {
    padding: 0 !important;
}

#footer .gallery .col div {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(236, 29, 37);
    opacity: 0;
    transition: all 0.3s;
}

#footer .gallery .col div:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s;
}


.pato-place {
    position: relative;
    width: 100%;
}

.place-image {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.pato-place h1 {
    font-size: 70px;
}

.pato-place h5 {
    color: #a82929;
    font-style: italic;
    font-size: 30px;
}